/* CSS for error page, everything else is inherited from master*/

body {
	background-color:  #398E21;
	background-image: url('http://imageshack.com/a/img921/1338/tWeelB.gif');
	background-repeat: no-repeat;
}