/* MASTER CSS for whole site, individual pages have overriding CSS in place*/

/* /Divider Formatting/ */
.text {
	position: fixed;
	top: 50%;
	left: 40%;
	transform: translate(-50%, -50%);
	line-height: 42px;
}

.footer {
	position: fixed;
	top: 90%;
	left: 75%;
}

/* /Link Formatting/ */
a {
	/* All links*/
	color: white;
    text-decoration: none;
}
a:hover {
	/* Mouse hover over link */
    	color: #ADADAD;
}

::selection {
	/* Mouse highlight selection*/
	color: white; 
	background: #CC0000;
}

/* /Text and Background Formatting/ */
body { 
    font-family: "Courier New", Courier, Monospace, Times;
	color: white;
	text-align: center;
	background-color:  #ff1a1a;  	/*#ffe0b3 = Tan    #668cff = Blue     #ff1a1a = Red*/
	background-size: cover;
}

mark {
	/* text highlight*/
	background-color: #CC0000;
	color: white;
    opacity: 0.85;
    filter: alpha(opacity=85); /* For IE8 and earlier */
	line-height: 130%;
}

h1{
    font-size: 30px;
}

h2 {
    font-size: 22.5px;
}

h3 {
    font-size: 15.5px;
}