/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');*/

body {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	/*font-family: 'Open Sans', sans-serif;*/
	background: #f4f6ff;
	margin: 0;
	padding: 0;
	color: #393e46;
	overflow-x: hidden;
}

::selection {
  background: #a6dcf5; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #a6dcf5; /* Gecko Browsers */
  color: white;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

.typing-carousel > .wrap {
	animation: animated-cursor 900ms steps(29,end) infinite;
}

@keyframes animated-cursor {
	from{
		border-right: 0.08em solid;
		border-right-color: rgba(150,150,150,.9);
	}
  	to{
  		border-right: 0.08em solid;
  		border-right-color: transparent;
  	}
}

h1, h2 {
  	font-weight: 200;
  	margin: 0.2em 0;
}
h1 {
	font-size: 2.25em;
	transform: translate(-0.05em, 0);
}
h2 {
  	font-size: 2em;
  	padding-bottom: 0.4em;
}

ul {
	padding: 0 0 lem 0;
	margin: 0;
	list-style: none;
}

ul li {
	padding-bottom: 0.8em;
}

ul li::before {
    display: inline-block;
    height: 2em;
    width: 1.8em;
    margin: .1em 0.8em .1em .1em;
    vertical-align: -0.1em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
}

ul li.twitter::before {
	content: url("https://twemoji.maxcdn.com/v/latest/svg/1f426.svg");
}

ul li.github::before {
    content: url("https://twemoji.maxcdn.com/v/latest/svg/1f468-200d-1f4bb.svg");
}

ul li.uni::before {
    content: url("https://twemoji.maxcdn.com/v/latest/svg/1f393.svg");
}

ul li.camera::before {
    content: url("https://twemoji.maxcdn.com/v/latest/svg/1f4f7.svg");
}

a, a:visited {
	vertical-align: super;
	color: #3b6978;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#name {
	height: 200px;
	width: 100%;
}

#contour {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 30%;
	z-index: 1;
}

.content {
    position: relative;
    top: 0;
    bottom: 0;
    left: 30%;
    right: 0;
    width: 70%;
}

.details {
	transform: translate(0, -3em);
	margin-left: 20px;
	padding-left: 30px;
	text-align: left;
	z-index: 1;
}

#p5_loading {
	display: none;
}

